[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"

[dev-packages]
twine = "*"
sphinx = "*"
coverage = "*"
bumpversion = "*"

[requires]
python_version = "3.6"
